<!DOCTYPE html>
<html >

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  
<div class="crud-user-reponses p-3" style="height: 900px; overflow-y: scroll; background-image: url('assets/images/firetruck.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <style>
    .white-text th,
    .white-text td {
      color: white;
      padding: 10px; /* Add padding to create space between columns */
    }
  </style>
<h2>Employees</h2>
<table class="table p-3 table-hover white-text" [style.background-color]="highlighted ? 'rgba(0, 0, 0, 0.9)' : 'rgba(255, 255, 255, 0.8)'">

  <tr>
    <th hidden>Id</th>
    <th>Location</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Mobile</th>
    <th>Update</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td hidden>{{ employee.employeeId }}</td>
    <td>{{ employee.location }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.fullName }}</td>
    <td>{{ employee.gender }}</td>
    <td>{{ employee.mobile }}</td>
    <td>
      <button type="button" class="btn btn-primary" >
        <span class="bi bi-pencil"></span>
      </button>
    </td>
  </tr>
</table>


<h2>Sensor Data</h2>
<table class="table p-3 table-hover white-text" [style.background-color]="highlighted ? 'rgba(0, 0, 0, 0.9)' : 'rgba(255, 255, 255, 0.8)'">

  <tr>
    <th hidden>Id</th>
    <th>Checker</th>
    <th>Connected</th>
    <th>Flame</th>
    <th>Flame Status</th>
    <th>mq135</th>
    <th>mq135 Status</th>
    <th>mq2</th>
    <th>mq2 Status</th>
    <th>Status</th>
    <th>Status Notif</th>
    <th>Update</th>
  </tr>
  <tr *ngFor="let data of sensorData">
    <td hidden>{{ data.key }}</td>
    <td>{{ data.checker }}</td>
    <td>{{ data.connected }}</td>
    <td>{{ data.flame }}</td>
    <td>{{ data.flameStatus }}</td>
    <td>{{ data.mq135 }}</td>
    <td>{{ data.mq135Status }}</td>
    <td>{{ data.mq2 }}</td>
    <td>{{ data.mq2Status }}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.statusNotif }}</td>
    <td>
      <button type="button" class="btn btn-primary">
        <span class="bi bi-pencil"></span>
      </button>
    </td>
  </tr>
</table>

<h2>Sensor Data 2</h2>
<table class="table p-3 table-hover white-text" [style.background-color]="highlighted ? 'rgba(0, 0, 0, 0.9)' : 'rgba(255, 255, 255, 0.8)'">


  <tr>
    <th hidden>Id</th>
    <th>Checker</th>
    <th>Connected</th>
    <th>Flame</th>
    <th>Flame Status</th>
    <th>mq135</th>
    <th>mq135 Status</th>
    <th>mq2</th>
    <th>mq2 Status</th>
    <th>Status</th>
    <th>Status Notif</th>
  </tr>
  <tr *ngFor="let data of sensorData2">
    <td hidden>{{ data.key }}</td>
    <td>{{ data.checker }}</td>
    <td>{{ data.connected }}</td>
    <td>{{ data.flame }}</td>
    <td>{{ data.flameStatus }}</td>
    <td>{{ data.mq135 }}</td>
    <td>{{ data.mq135Status }}</td>
    <td>{{ data.mq2 }}</td>
    <td>{{ data.mq2Status }}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.statusNotif }}</td>
    <td>
      <button type="button" class="btn btn-primary">
        <span class="bi bi-pencil"></span>
      </button>
    </td>
  </tr>
</table>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #confirmModal>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">
        <h5 class="modal-title" style="color:white;">Update Data</h5>
      </div>
      <div class="modal-body">
        <div class="card-text" style="color:white; background-color: black;">
          <table class="table-borderless" style="width: 100%;">
            <tbody>
              <tr>
                <td style="font-size: 20px;" class="fw-bold">Location:</td>
                <td style="font-size: 20px;">
                  <span *ngIf="!isEditMode">{{ selectedUser.location || 'N/A' }}</span>
                  <input *ngIf="isEditMode" type="text" class="form-control" [(ngModel)]="selectedUser.location">
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px;" class="fw-bold">Email:</td>
                <td style="font-size: 20px;">
                  <span *ngIf="!isEditMode">{{ selectedUser.email || 'N/A' }}</span>
                  <input *ngIf="isEditMode" type="text" class="form-control" [(ngModel)]="selectedUser.email">
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px;" class="fw-bold">Full Name:</td>
                <td style="font-size: 20px;">
                  <span *ngIf="!isEditMode">{{ selectedUser.fullName || 'N/A' }}</span>
                  <input *ngIf="isEditMode" type="text" class="form-control" [(ngModel)]="selectedUser.fullName">
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px;" class="fw-bold">Gender:</td>
                <td style="font-size: 20px;">
                  <span *ngIf="!isEditMode">{{ selectedUser.gender || 'N/A' }}</span>
                  <input *ngIf="isEditMode" type="text" class="form-control" [(ngModel)]="selectedUser.gender">
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px;" class="fw-bold">Mobile:</td>
                <td style="font-size: 20px;">
                  <span *ngIf="!isEditMode">{{ selectedUser.mobile || 'N/A' }}</span>
                  <input *ngIf="isEditMode" type="text" class="form-control" [(ngModel)]="selectedUser.mobile">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalConfirm()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="editTicket()">
          {{ isEditMode ? 'Save' : 'Edit' }}
        </button>
      </div>
    </div>
  </div>
</div>


  </div>
  </html>