<h2>Employees</h2>
<table class="table p-3 table-hover " [style.background-color]="highlighted ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.8)'">
  <tr>
    <th hidden>Id</th>
    <th>Coordinates</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Mobile</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td hidden>{{ employee.Id }}</td>
    <td>{{ employee.coordinates }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.fullName }}</td>
    <td>{{ employee.gender }}</td>
    <td>{{ employee.mobile }}</td>
  </tr>
</table>

<h2>Registered Users</h2>
<table class="table p-3 table-hover " [style.background-color]="highlighted ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.8)'">
  <tr>
    <th hidden>Id</th>
    <th hidden>Recordings</th>
    <th>Coordinates</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Mobile</th>
  </tr>
  <tr *ngFor="let user of registeredUsers">
    <td hidden>{{ user.uid }}</td>
    <td hidden>{{ user.Recordings }}</td>
    <td>{{ user.coordinates }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.fullName }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.mobile }}</td>
  </tr>
</table>

<h2>Registered Users 2</h2>
<table class="table p-3 table-hover " [style.background-color]="highlighted ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.8)'">
  <tr>
    <th hidden>Id</th>
    <th hidden>Recordings</th>
    <th>Coordinates</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Mobile</th>
  </tr>
  <tr *ngFor="let user of registeredUsers2">
    <td hidden>{{ user.Id }}</td>
    <td hidden>{{ user.Recordings }}</td>
    <td>{{ user.coordinates }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.fullName }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.mobile }}</td>
  </tr>
</table>

<h2>Sensor Data</h2>
<table class="table p-3 table-hover " [style.background-color]="highlighted ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.8)'">
  <tr>
    <th hidden>Id</th>
    <th>Checker</th>
    <th>Connected</th>
    <th>Flame</th>
    <th>Flame Status</th>
    <th>mq135</th>
    <th>mq135 Status</th>
    <th>mq2</th>
    <th>mq2 Status</th>
    <th>Status</th>
    <th>Status Notif</th>
  </tr>
  <tr *ngFor="let data of sensorData">
    <td hidden>{{ data.Id }}</td>
    <td>{{ data.checker }}</td>
    <td>{{ data.connected }}</td>
    <td>{{ data.flame }}</td>
    <td>{{ data.flameStatus }}</td>
    <td>{{ data.mq135 }}</td>
    <td>{{ data.mq135Status }}</td>
    <td>{{ data.mq2 }}</td>
    <td>{{ data.mq2Status }}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.statusNotif }}</td>
  </tr>
</table>

<h2>Sensor Data 2</h2>
<table class="table p-3 table-hover " [style.background-color]="highlighted ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.8)'">
  <tr>
    <th hidden>Id</th>
    <th>Checker</th>
    <th>Connected</th>
    <th>Flame</th>
    <th>Flame Status</th>
    <th>mq135</th>
    <th>mq135 Status</th>
    <th>mq2</th>
    <th>mq2 Status</th>
    <th>Status</th>
    <th>Status Notif</th>
  </tr>
  <tr *ngFor="let data of sensorData2">
    <td hidden>{{ data.Id }}</td>
    <td>{{ data.checker }}</td>
    <td>{{ data.connected }}</td>
    <td>{{ data.flame }}</td>
    <td>{{ data.flameStatus }}</td>
    <td>{{ data.mq135 }}</td>
    <td>{{ data.mq135Status }}</td>
    <td>{{ data.mq2 }}</td>
    <td>{{ data.mq2Status }}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.statusNotif }}</td>
  </tr>
</table>
