<h2>Employees</h2>
<ul>
  <li *ngFor="let employee of employees">
    <strong>Id:</strong> {{ employee.Id }}<br>
    <strong>Coordinates:</strong> {{ employee.coordinates }}<br>
    <strong>Email:</strong> {{ employee.email }}<br>
    <strong>Full Name:</strong> {{ employee.fullName }}<br>
    <strong>Gender:</strong> {{ employee.gender }}<br>
    <strong>Mobile:</strong> {{ employee.mobile }}
  </li>
</ul>

<h2>Registered Users</h2>
<ul>
  <li *ngFor="let user of registeredUsers">
    <strong>Id:</strong> {{ user.Id }}<br>
    <strong>Recordings:</strong> {{ user.recordings }}<br>
    <strong>Coordinates:</strong> {{ user.coordinates }}<br>
    <strong>Email:</strong> {{ user.email }}<br>
    <strong>Full Name:</strong> {{ user.fullName }}<br>
    <strong>Gender:</strong> {{ user.gender }}<br>
    <strong>Mobile:</strong> {{ user.mobile }}
  </li>
</ul>

<h2>Registered Users 2</h2>
<ul>
  <li *ngFor="let user of registeredUsers2">
    <strong>Id:</strong> {{ user.Id }}<br>
    <strong>Recordings:</strong> {{ user.recordings }}<br>
    <strong>Coordinates:</strong> {{ user.coordinates }}<br>
    <strong>Email:</strong> {{ user.email }}<br>
    <strong>Full Name:</strong> {{ user.fullName }}<br>
    <strong>Gender:</strong> {{ user.gender }}<br>
    <strong>Mobile:</strong> {{ user.mobile }}
  </li>
</ul>

<h2>Sensor Data</h2>
<ul>
  <li *ngFor="let data of sensorData">
    <strong>Id:</strong> {{ data.Id }}<br>
    <strong>Checker:</strong> {{ data.checker }}<br>
    <strong>Connected:</strong> {{ data.connected }}<br>
    <strong>Flame:</strong> {{ data.flame }}<br>
    <strong>Flame Status:</strong> {{ data.flameStatus }}<br>
    <strong>mq135:</strong> {{ data.mq135 }}<br>
    <strong>mq135 Status:</strong> {{ data.mq135Status }}<br>
    <strong>mq2:</strong> {{ data.mq2 }}<br>
    <strong>mq2 Status:</strong> {{ data.mq2Status }}<br>
    <strong>Status:</strong> {{ data.status }}<br>
    <strong>Status Notif:</strong> {{ data.statusNotif }}
  </li>
</ul>

<h2>Sensor Data 2</h2>
<ul>
  <li *ngFor="let data of sensorData2">
    <strong>Id:</strong> {{ data.Id }}<br>
    <strong>Checker:</strong> {{ data.checker }}<br>
    <strong>Connected:</strong> {{ data.connected }}<br>
    <strong>Flame:</strong> {{ data.flame }}<br>
    <strong>Flame Status:</strong> {{ data.flameStatus }}<br>
    <strong>mq135:</strong> {{ data.mq135 }}<br>
    <strong>mq135 Status:</strong> {{ data.mq135Status }}<br>
    <strong>mq2:</strong> {{ data.mq2 }}<br>
    <strong>mq2 Status:</strong> {{ data.mq2Status }}<br>
    <strong>Status:</strong> {{ data.status }}<br>
    <strong>Status Notif:</strong> {{ data.statusNotif }}
  </li>
</ul>
